$blue-primary: #18ACC4 !default;
$blue-secondary: #007A8D !default;

$yellow-primary: #FDCB13 !default;
$yellow-secondary: #DE9E1F !default;

$green: #0FA866 !default;

$gray: #FBFBFB !default;

$white: #FFF !default;

$black: rgba(31, 45, 48, 0.88) !default;
